<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.placeholder.study_space_booking_android_app">
    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="study space booking application"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".Features.Welcome.Activity.WelcomeActivity"
            android:label="Welcome" />
        <activity
            android:name=".Features.SignIn.Activity.SignInActivity"
            android:label="Sign in" />
        <activity
            android:name=".Features.Register.Activity.RegisterActivity"
            android:label="Register" />
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>
</manifest>
