<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.placeholder.study_space_booking_android_app">


    <uses-permission android:name="android.permission.CAMERA"/>
    <uses-feature android:name="android.hardware.camera"/>
    <uses-feature android:name="android.hardware.camera.autofocus"/>
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.VIBRATE"></uses-permission>

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="PlaceHolder"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">


        <activity
            android:name=".Features.ProblemReport.Activity.ProblemReportActivity"
            android:label="Problem report"/>
        <activity
            android:name=".Features.ViewReport.Activity.ViewReportActivity"
            android:label="View report"/>
        <activity
            android:name=".Features.ViewReport.Activity.ViewReportDetailActivity"
            android:label="View report detail"/>
        <activity android:name=".Features.Capture.SignInCaptureActivity"/>
        <activity android:name=".Features.Capture.SignOutCaptureActivity"/>

        <activity android:name=".Features.ScanOption.Activity.ScanOptionActivity"/>

        <activity android:name=".Features.Capture.TempInCaptureActivity"/>
        <activity android:name=".Features.Capture.TempOutCaptureActivity"/>
        <activity android:name=".Features.Home.Activity.AdminHistoryActivity"/>

        <activity
            android:name=".Services.RefreshTS"
            android:label="Refresh TimeSlot"/>

        <activity
            android:name=".Features.Home.Activity.HistoryActivity"
            android:label="History"/>
        <activity
            android:name=".Features.Welcome.Activity.WelcomeActivity"
            android:label="Welcome" />
        <activity
            android:name=".Features.SignIn.Activity.SignInActivity"
            android:label="Sign in" />
        <activity
            android:name=".Features.Register.Activity.RegisterActivity"
            android:label="Register" />
        <activity
            android:name=".Features.BookSeat.Activity.MacBookSeatActivity"
            android:label="Mac Commons Book" />
        <activity
            android:name=".Features.BookSeat.Activity.PCBookSeatActivity"
            android:label="PC Commons Book" />
        <activity android:name=".Features.AdminSeat.Activity.AdminSeatActivity"/>
        <activity android:name=".Features.AdminSeat.Activity.SeatHistoryActivity"/>
        <activity android:name=".Features.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <service
            android:name=".Services.TSService"
            android:enabled="true"/>
        <meta-data
            android:name="com.google.android.gms.vision.DEPENDENCIES"
            android:value="barcode">
        </meta-data>
    </application>
</manifest>
